/* CHANGE: is there a way to calculate this margin top to make it more dynamic/responsive? */
.first-body-container {
  margin-top: 70.375px;
}

/* Nav */
.nav-user-img {
  width: 32px;
  border-radius: 50%;
}

.image-container {
  object-fit: cover;
}

/* "Cards": Video titles and descriptions */
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  font-size: 1.1rem;
}