<!-- Consider deleting this route if the same functionality will remain
on the course edit route -->

{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col">
    <h1 class="display-1">Video Search</h1>
    <h2>Step 2. Search for a video to add to the course: <br><i>{{ course.title }}</i></h2>
    <form id="keyword-search-form">
      <div class="form-group">
        <label for="keyword">Enter a keyword or phrase to search for videos</label>
        <input type="text" class="form-control" id="keyword">
        <b id="keyword-err"></b>
        <input type="hidden" id="course-id" value={{course.id}}>
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Search</button>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div id="search-results" class="col">
    <!-- Videos will be rendered by JavaScript. -->
    <!-- Each video will be rendered with an "Add to course" button. -->

  </div>
</div>

{% endblock %}