{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mb-5">
  <h1>Access Academy</h1>
</div>
<div class="row justify-content-center mb-5">
  <img src="static/images/undraw_online_learning_ao11.svg" alt="" class="svg">
</div>
<div class="row justify-content-center mb-5">
  <p class="h3 px-4 text-center">What Knowledge Will You <strong>Access</strong> Today?</p>
</div>
<div class="row justify-content-center mb-5">
  <a href="/courses/search" class="btn btn-primary btn-lg">
    Search courses
  </a>
</div>
{% endblock %}