{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mb-4">
  <h1>Access Academy</h1>
</div>
<div class="row justify-content-center mb-3">
  <p class="h4 text-center mb-3">New to Access Academy? <a href="/signup">Sign up</a> now to access your education!</p>
</div>
<div class="row justify-content-center mb-3">
  <p class="h4 text-center mb-3">Or try it out with a pre-made <a href="/demo">demo account. </a>It's easy!</p>
</div>
<div class="row justify-content-center mb-5">
  <img src="static/images/undraw_online_learning_ao11.svg" alt="" class="svg">
</div>
<div class="row justify-content-center mb-5">
  <p class="h3 px-4 text-center">What Knowledge Will You <strong>Access</strong> Today?</p>
</div>

{% endblock %}