<!-- LOGGED IN USERS ONLY
  * This page will allow the course creator to edit the course (add/remove videos, reorder videos, change course title)
  * Make sure that when course title is modified that it is not the same as any other course by this creator.
  * After a course edits have been made, redirect to course details page.-->

<!-- LOGGED IN USERS ONLY:
This page will show:
* for ALL USERS: the details for each course, such as title, creator username, and videos (in order)
* for COURSE CREATOR: a delete button to remove the course, a delete button next to each video, a way to re-order courses

This view should be passed the course id-->

{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col">
    <h1 class="display-1">Modify a course</h1>
    <h2>Remove or reorder the videos in the course:<br>
      <i>{{ course.title }}</i></h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    {% if videos_courses %}
    {% for vc in videos_courses %}
    <article class="row mb-3 align-items-center">
      <div class="col-6">
        <!-- CHANGE: remove this line when replacing thumbnail with iframe -->
        <img src="{{ vc.video.thumbUrl }}" class="searched-item" alt="thumbnail of video: {{ vc.video.title }}">
        <!-- CHANGE: uncomment and turn into a variable to show iframe -->
        <!-- video.iframe -->
      </div>
      <div class="col-6">
        <h3><b>{{ vc.video.title }}</b></h3>
        <h4>{{vc.video.description}}</h4>
        <form action="" id="up-arrow">
          <input type="hidden" id="course-id" name="course-id" value={{course.id}}>
          <input type="hidden" id="curr-video-seq" name="curr-video-seq" value="vc.video-seq">
          <button type="submit" class="btn btn-primary"><i class="fas fa-sort-up"></i></button>
        </form>
        <form action="" id="down-arrow">
          <button type="submit" class="btn btn-primary"><i class="fas fa-sort-down"></i></button>
        </form>
        <form action="" id="remove-video">
          <button type="submit" class="btn btn-primary">Remove video from course</button>
        </form>
      </div>
    </article>
    {% endfor %}
    {% else %}
    <h3>This course currently has no videos in it.</h3>
    <form action="">
      <button type="submit">Search videos</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}