<!-- LOGGED IN USERS ONLY
  * This page will allow the course creator to edit the course (add/remove videos, reorder videos, change course title)
  * Make sure that when course title is modified that it is not the same as any other course by this creator.
  * After a course edits have been made, redirect to course details page.-->

<!-- LOGGED IN USERS ONLY:
This page will show:
* for ALL USERS: the details for each course, such as title, creator username, and videos (in order)
* for COURSE CREATOR: a delete button to remove the course, a delete button next to each video, a way to re-order courses

This view should be passed the course id-->

{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col">
    <h1 class="display-1">Modify a course</h1>
    <h2>Add, remove, or reorder videos in the course:<br>
      <i>{{ course.title }}</i>
    </h2>
    <h3>Click here to <a href="./videos/search"> search for videos</a> to add to the course.</h3>
    <h3>Remove or reorder the videos below:</h3>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    {% if videos_courses %}
    {% for vc in videos_courses %}
    <article class="row mb-4 p-3 align-items-center border border-dark rounded">
      <div class="col-5 image-container">
        <!-- CHANGE: remove this line when replacing thumbnail with iframe -->
        <img src="{{ vc.video.thumbUrl }}" class="img-fluid searched-item"
          alt="thumbnail of video: {{ vc.video.title }}">
        <!-- CHANGE: uncomment and turn into a variable to show iframe -->
        <!-- video.iframe -->
      </div>
      <div class="col-7">
        <p class="title"><b>{{ vc.video.title }}</b></p>
        <p class="description">{{vc.video.description}}</p>
        <div class="row mb-2 align-items-center justify-content-between">
          <div class="col">
            <!-- form for up arrow (sequence minus 1) -->
            {% if vc.video_seq != 1 %}
            <form action="/courses/{{ course.id }}/re-sequence" class="d-inline" method="POST">
              <input type="hidden" name="course-id" value={{course.id}}>
              <input type="hidden" name="vc-id" value={{vc.id}}>
              <input type="hidden" name="video-seq" value={{vc.video_seq}}>
              <input type="hidden" name="arrow" value="-1">
              <button type="submit" class="btn btn-primary"><i class="fas fa-sort-up"></i></button>
            </form>
            {% endif %}
            <!-- form for down arrow (sequence plus 1) -->
            {% if vc.video_seq != (videos_courses | length) %}
            <form action="/courses/{{ course.id }}/re-sequence" class="d-inline ml-2" method="POST">
              <input type="hidden" name="course-id" value={{course.id}}>
              <input type="hidden" name="vc-id" value={{vc.id}}>
              <input type="hidden" name="video-seq" value={{vc.video_seq}}>
              <input type="hidden" name="arrow" value="1">
              <button type="submit" class="btn btn-primary"><i class="fas fa-sort-down"></i></button>
            </form>
            {% endif %}
          </div>
          <div class="col text-right">
            <!-- CHANGE: is curr-video-seq still needed? -->
            <form action="/courses/{{ course.id }}/remove-video" class="d-inline" method="POST">
              <input type="hidden" name="course-id" value={{course.id}}>
              <input type="hidden" name="video-seq" value={{vc.video_seq}}>
              <input type="hidden" name="video-id" value={{vc.video.id}}>
              <button type="submit" class="btn btn-primary">Remove from course</button>
            </form>
          </div>
        </div>

      </div>
    </article>
    {% endfor %}
    {% else %}
    <h3>This course currently has no videos in it.</h3>
    <form action="">
      <button type="submit">Search videos</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}