<!-- LOGGED IN USERS ONLY
  * This page will show the form to add a new course and allow the creator to select courses to add. 
  * The route to this page should pass the creator_id variable.
  * After a new course is saved, the page needs to have access to the course id.  So... re-render the page and pass the course id?-->
{% extends 'base.html' %}
{% block content %}
<!-- Create a course -->
<div class="row justify-content-center">
  <div class="col-md-7">
    <h1>Create a course</h1>
    <h2 class="join-message">Step 1: Enter a title to add a course.</h2>
    <form method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}
      <button class="btn btn-primary btn-lg btn-block">Add course</button>
    </form>
  </div>
</div>
<!-- Search for videos to add to course -->
<div class="row justify-content-center">
  <div class="col-md-7">
    <h2 class="join-message">Step 2: Search for videos to add to course.</h2>
    <form action="/courses/add-video" method="GET">
      <input type="hidden">
      <button class="btn btn-primary btn-lg btn-block">Search videos</button>
    </form>
  </div>
</div>


{% endblock %}