<!-- LOGGED IN USERS ONLY
  * This page will allow a user to search for courses by title or popularity.
-->

<!-- LOGGED IN USERS ONLY:
This page will show:
* for ALL USERS: the details for each course, such as title, creator username, and videos (in order)
* for COURSE CREATOR: a delete button to remove the course, a delete button next to each video, a way to re-order courses
-->

{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col">
    <h1 class="display-1">Courses Search</h1>
    <form method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary btn-lg btn-block">Search</button>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <!-- Courses will be rendered by Flask server. -->
    {% for course in courses %}
    <article class="row mb-3 align-items-center" data-id="{{ course.id }}">
      <!-- Course Image -->
      <div class="col-6">
        {% if course.videos[0].thumbUrl %}
        <img src="{{course.videos[0].thumbUrl}}" alt="">
        {% else %}
        <img src="static/images/question-1015308_640.jpg" alt="">
        {% endif %}
      </div>
      <!-- Course title & description -->
      <div class="col-6">
        <h3><b>{{course.title}}</b></h3>
        {% if course.description %}
        <h4>{{course.description}}</h4>
        {% endif %}
        {% if not course.videos[0].thumbUrl %}
        <small>Image by
          <a
            href="https://pixabay.com/users/peggy_marco-1553824/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1015308">Peggy
            und Marco Lachmann-Anke</a> from <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1015308">Pixabay
          </a>
        </small>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</div>
{% endblock %}